
@import url('responsiveness.css');




body {
    background-image: url("/images/metaverse.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    color: white;
    text-align: center;
    vertical-align: center;
}

a{
    text-decoration: underline dotted;
    color: white;
}

button{
    width: 100%;
    opacity: 0.5;
}


#intro{
    display: none;
}

#work{
    display: none;
}
#about{
    display: none;
}
#contact{
    display: none;
}
