
@import url('responsiveness.css');



body {
    background-color: aquamarine;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url("/images/metaverse.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
    color: white;
    text-align: center;
}

.center{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: underline dotted;
    color: white;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
}

button{
    width: 100%;
    opacity: 0.5;
}




#intro{
    display: none;
}

#work{
    display: none;
}
#about{
    display: none;
}
#contact{
    display: none;
}
