


@media screen and (min-width: 800px) {

    body {
        background-color: rgb(176, 15, 250);
    }
    
    .buttons{
        flex-direction: column;
    }

    button {
        width: 100px;
    }
}